<div class="container">
  <div class="row">
    <div class="table-responsive" style="border-style: groove;margin-top: 50px;margin-bottom: 50px;">
      <table class="table">
        <h3 style="text-align: center;">연구 설명문 및 참여 동의</h3>

        <div class="text">
          <p>안녕하세요.</p>
          <p>바쁘신 와중에 설문에 참여하여 주셔서 감사드립니다.</p>
          <p>본 연구자는 귀하에게 「장애학생의 진로 및 전환교육」 이러닝 시스템 구축을 위한 요구도 조사에 관한 연구에 참여하시길 부탁드립니다. 본 설명문은 연구 참여를 결정하는데 도움이 되도록 연구의 목적, 내용, 위험(불편감), 이익, 귀하의 정보를 포함한 자료관리 등에 대한 내용을 포함하고 있습니다. 주의 깊게 읽으신 후 궁금한 점이나 분명치 않은 점이 있으면 질문하여 주십시오.</p>
        </div>
        <div class="text">
          <strong>1. 연구의 배경 및 목적</strong>: 본 연구는 전환교육 관련 이러닝 프로그램에 대한 요구를 조사함을 목적으로 합니다. 본 연구 결과는  「장애학생의 진로 및 전환교육」 이러닝 시스템을 구축하는데 기반이 될 것입니다.  
        </div>
        <div class="text">
          <strong>2. 연구방법 및 절차</strong>: 본 연구에서는 전환교육 이러닝 프로그램 개발에 대한 요구를 살펴보기 위하여 온라인 설문조사를 진행합니다. 최소한의 개인정보(성별, 학력, 교육경험 등)를 수집하게 되며, 전환교육 수행에 관련된 현재수준과 필요성에 관한 미래 기대수준, 이러닝 프로그램 개발에서 중요한 점에 관한 문항들에 답하게 됩니다. 각 문항을 읽어보고 자신의 생각을 가장 잘 표현한다고 생각하는 번호에 표시하여 주시면 됩니다. 총 43개의 문항이며, 소요 시간은 약 20분입니다.
        </div>
        <div class="text">
          <strong>3. 불편감, 위험 및 이익 가능성</strong>: 온라인 설문조사를 진행하는데 소요되는 시간은 20분 내외입니다. 조사 참여에 대한 사례로 5000원 상당의 커피 쿠폰을 발송해드립니다.
        </div>
        <div class="text">
          <strong>4. 연구참여와 중지</strong>: 본 설문조사는 자발적으로 참여하시게 되며, 자발적으로 중단도 가능합니다. 설문조사에 참여하면서 신체적, 심리적 불편감과 위험이 발생할 시에는 즉시 중단하시길 바랍니다.
        </div>
        <div class="text">
          <strong>5. 개인 정보 및 비밀 보장</strong>: 본 설문조사를 통해 수집된 자료는 개인정보 보호법에 근거합니다. 연구의 목적을 위하여만 수집하여 이외의 목적으로는 사용되지 않습니다. 연구의 절차 및 원칙에 근거하여 연구 종료 후 3년 동안 자료를 저장하며, 이용 목적이 달성됨과 동시에 지체 없이 파기됩니다.
        </div>
        <div class="text">
          <strong>6. 연구 관련 문의</strong>: 연구 관련 문의는 연구자에게(이현주, 인하대학교 교육대학원 소속, 032-860-9168; hyunjlee@inha.ac.kr), 대상자의 안녕 및 권익에 대한 문의는 인하대학교 기관생명윤리위원회(032-860-9158)로 하시기 바랍니다.
        </div>
        <div class="text">
          <table class="table table-responsive">
            <tr>
              <th style="width: 30%;">연구제목</th>
              <th style="width: 70%;">「장애학생의 진로 및 전환교육」 이러닝 시스템 구축이 중등 특수교사의 교과 및 교수 전문성 향상에 미치는 영향</th>
            </tr>
            <tr>
              <td>연구 기관/부서 및 주소</td>
              <td>인하대학교 60주년기념관 1222호</td>
            </tr>
            <tr>
              <td>연구자 성명, 소속 및 연락처</td>
              <td>
                이현주, 인하대학교 교육대학원
                hyunjlee@inha.ac.kr, 032-860-9168, 010-2466-1413
              </td>
            </tr>
          </table>
        </div>
      </table>
    </div>
  </div>
</div>

<div class="container">
  <h2>연구 참여에 동의하십니까?</h2>

  <button type="button" class="btn btn-primary btn-sm" onclick="location.href='/survey/index'" >예</button>
  <button type="button" class="btn btn-default btn-sm">아니오</button>
</div>

<style>
  p {
    margin: 0 auto;
  }
    .text {
      margin: 30px 15px 0 15px;
    }
</style>