<div class="container" style="text-align: center">
  <h3> 설문이 완료되었습니다.</h3>

  <h3 style="margin-top: 50px"> 감사합니다^^ </h3>

  <h4 style="margin-top: 50px">설문조사 참여에 대한 고마움의 표시로 모바일 커피 쿠폰(5,000원)을 발송해드립니다. </h4>
  <h4>쿠폰 발송을 위해, 아래 칸에 선생님의 휴대폰 번호를 남겨주시기 바랍니다</h4>
  <h4>쿠폰 발송되는 기간은 1 ~ 2주가 걸릴 수 있으니 양해 부탁드랍니다.</h4>
  <h4 style="margin-bottom: 50px">휴대폰 번호는 쿠폰 발송 이외의 목적으로 절대 사용하지 않습니다!</h4>

  <form action="/survey/finish" method="post">
    <input type="number" class="form-control" id="number" name="number" placeholder="'-' 없이 입력해주세요.'">
    <button class="btn btn-primary btn-lg" style="margin: 10px 10px 10px 10px" type="submit">Submit</button>
  </form>
</div>